body {
    font-family: Arial;
    font-size: 1.5em;
}
#cabecalho {
    text-align: center;
    padding: 1em;
    background-color: #16d7c0;
}
#cabecalho li {
    display: inline;
    padding: 1em;
}
#cabecalho a {
    font-weight: bold;
    color: #484023;
    text-decoration: none;
    font-size: 70%;
}
